@page "/subcontractor-generalinfo"
@page "/subcontractor/general-info"

@inject ISubConGeneralInformationService subConGeneralInformationService
@inject IDialogService dialogService
@inject ISnackbar snackbarService
@inject ApplicationState AppState

<div class='page-cont'>
  <div class='drawer-right'>
    <MudDrawer Class='pa-1' @bind-Open='openSideFilter' Fixed='false' Anchor='Anchor.Right' Elevation='0' Variant='DrawerVariant.Mini' OpenMiniOnHover='false'>
      <div class='drawer-right__filtercont'>
        <div class='icon-area d-flex align-center'>
           <MudIconButton OnClick='OpenSideFilter' Icon="@Icons.Material.Filled.FilterList" aria-label="Filter" Size='Size.Medium' />
        </div>
        <div class='filter-title d-flex align-center'>
          <p class='title875'>Filter</p>
          <MudSpacer />
          <MudIconButton OnClick='OpenSideFilter' Icon="@Icons.Material.Filled.Close" aria-label="Close Filter" Size='Size.Medium' />
        </div>
        <div class='filter-content d-flex flex-column pl-4 pr-4 gap-1 @visibility'>
          <MudTextField Class='txtfield-75' @bind-Value='searchTerm' Placeholder='Employee Name'
          Adornment='Adornment.Start' AdornmentIcon='@Icons.Material.Filled.Search' IconSize='Size.Small'
          Clearable='true' Variant='Variant.Outlined' />
          <MudButton Variant='Variant.Filled' Color='Color.Secondary'>Apply Filter</MudButton>
        </div>
      </div>
    </MudDrawer>
  </div>
  <MudContainer Class='subcongeninfopage' Fixed='false' MaxWidth='MaxWidth.ExtraExtraLarge'>
    @if (!dataFetched)
    {
     <SkeletonPageList />
    }
    else 
    {
      <MudTable Class='configtables ' Items="@GlobalClassList.subConGeneralInformations" Hover="true" 
        Breakpoint='Breakpoint.Xs' FixedHeader='true' FixedFooter='true' Bordered='true'  Dense='true' 
        RowsPerPage='30' Filter='new Func<SubConGeneralInformationModel,bool>(FilterItems)'>
        <ToolBarContent>
          <MudText Typo='Typo.caption'>
            @GlobalClassList.subConGeneralInformations.Count() 
            @(GlobalClassList.subConGeneralInformations.Count() == 1 ? "item" : "items") 
            in Total
          </MudText>
          <MudSpacer />
          <MudTooltip Text="Refresh Table">
              <MudIconButton Icon="@Icons.Material.Filled.Refresh" Size="Size.Small" OnClick='(()=>{searchTerm = "";})' ></MudIconButton>
          </MudTooltip>
          <MudMenu StartIcon='@Icons.Material.Filled.MoreVert' AnchorOrigin='Origin.TopLeft' ActivationEvent='MouseEvent.MouseOver'
          TransformOrigin='Origin.TopRight' Dense='true' Size='Size.Small' Label='More'>
            <MudMenuItem OnClick='(() => SubConGenInfoDialog(new SubConGeneralInformationModel(), Enums.ActionMode.Create))'>
              <div class='d-flex align-center gap-2 '>
                <MudIcon Icon='@Icons.Material.Filled.Add' Size='Size.Small' />
                <MudText Typo='Typo.body2'>Add</MudText>
              </div>
            </MudMenuItem>
          </MudMenu>
        </ToolBarContent>
        <ColGroup>
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col style='width:20px;'/>
        </ColGroup>
        <HeaderContent>
            <MudTh Class='customheader-1'>Subcon Name</MudTh>
            <MudTh Class='customheader-1'>Company</MudTh>
            <MudTh Class='customheader-1'>Position</MudTh>
            <MudTh Class='customheader-1 text-center'>Age</MudTh>
            <MudTh Class='customheader-1 text-center'>Gender</MudTh>
            <MudTh Class='customheader-1 text-center'>Date Start</MudTh>
            <MudTh Class='customheader-1 text-center'>Date End</MudTh>
            <MudTh Class='customheader-1 text-center pa-2'>Action</MudTh>
        </HeaderContent>
        <RowTemplate>
          <MudTd DataLabel='Employee Name'>
              <MudText Class='font12'>@context.EmployeeName</MudText>
          </MudTd>
          <MudTd DataLabel='Company Name'>
              <MudText Class='font12'>@context.CompanyName</MudText>
          </MudTd>
          <MudTd DataLabel='Position Name'>
            <MudText Class='font12'>@context.PositionName</MudText>
          </MudTd>
          <MudTd Class='text-center' DataLabel='Age'>
            <MudText Class='font12'>@context.Age</MudText>
          </MudTd>
          <MudTd Class='text-center' DataLabel='Gender'>
            <MudText Class='font12'>@context.Gender</MudText>
          </MudTd>
          <MudTd Class='text-center' DataLabel='Date Start'>
            <MudText Class='font12'>
              @(context.DateStart != null ? Convert.ToDateTime(context.DateStart).ToShortDateString() : @context.DateEnd)
            </MudText>
          </MudTd>
          <MudTd Class='text-center' DataLabel='Date End'>
            <MudText Class='font12'>
              @(context.DateEnd != null ? Convert.ToDateTime(context.DateEnd).ToShortDateString() : context.DateEnd)
            </MudText>
          </MudTd>
          <MudTd Class='text-center pa-2' DataLabel='Actions'>
              <MudMenu Icon='@Icons.Material.Filled.MoreVert' AnchorOrigin='Origin.TopLeft' ActivationEvent='MouseEvent.MouseOver'
              TransformOrigin='Origin.TopRight' Dense='true' Size='Size.Small'>
                  <MudMenuItem OnClick='(() => SubConGenInfoDialog(context, Enums.ActionMode.Update))'>
                      <div class='d-flex align-center gap-2 '>
                          <MudIcon Icon='@Icons.Material.Filled.Edit' Size='Size.Small' />
                          <MudText Typo='Typo.body2'>Edit</MudText>
                      </div>
                  </MudMenuItem>
              </MudMenu>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions='@pageSize' />
        </PagerContent>
      </MudTable>
    }
  </MudContainer>
</div>


@code{
  private bool dataFetched, openSideFilter;
  private int[] pageSize = new int[] { 30, 50, 100, 500, 1000 };
  private string searchTerm = string.Empty, visibility = "visibility-animation-hide";


  protected override async Task OnInitializedAsync()
  {
    GlobalClass.pageTitle = "Configuration - SUBCON GENERAL INFO";
    while (GlobalClass.currentUserAccount == null || GlobalClassList.subConGeneralInformations == null)
      await Task.Delay(1);
    await AppState.UpdateMainLayoutComponent(true);
    SubConPositionHub();
    CompletedFetch();
  }

  void CompletedFetch()
  {
      dataFetched = true;
      StateHasChanged();
  }

  private async Task SubConGenInfoDialog(SubConGeneralInformationModel subcongeninfo, Enums.ActionMode action)
  {
    var parameters = new DialogParameters();
    GlobalClass.subConGeneralInformation = subcongeninfo;
    string dialogTitle = GlobalClass.subConGeneralInformation.Id != 0 ? "Edit SubCon General Info" : "Add SubCon General Info";
    string buttonText = GlobalClass.subConGeneralInformation.Id != 0 ? "Update" : "Save";
    Color color = GlobalClass.subConGeneralInformation.Id != 0 ? Color.Info : Color.Success;
    var _maxWidth = GlobalClass.subConGeneralInformation.Id != 0 ? MaxWidth.Large : MaxWidth.Small;
    parameters.Add("color", color);
    parameters.Add("dialogTitle", dialogTitle);
    parameters.Add("buttonText", buttonText);
    parameters.Add("currentAction", action);
    var options = new DialogOptions() { CloseButton = false, MaxWidth = _maxWidth, FullWidth = true, NoHeader = false, DisableBackdropClick = false };
    var resultDialog = await dialogService.Show<Shared.Dialogs.SubConGeneralInformationDialogs.SubConGeneralInformationDialog>("", parameters, options).Result;
    if (!resultDialog.Canceled)
    {
      if ((Enums.ActionMode)resultDialog.Data == Enums.ActionMode.Create)
        Extensions.ShowAlert("Subcontractor General Info successfully added.", Variant.Filled,snackbarService,Severity.Success);
      else if ((Enums.ActionMode)resultDialog.Data == Enums.ActionMode.Update)
        Extensions.ShowAlert("Subcontractor General Info succefully updated.", Variant.Filled,snackbarService,Severity.Info);
      else if ((Enums.ActionMode)resultDialog.Data == Enums.ActionMode.Deactivate)
        Extensions.ShowAlert("Subcontractor General has been deactivated.", Variant.Filled,snackbarService,Severity.Warning);
      GlobalClassList.subConGeneralInformations = GlobalClassList.subConGeneralInformations.Where(x => x.IsActive == true).ToList();
    } else if (resultDialog.Canceled)
      Extensions.ShowAlert("Action Cancelled.", Variant.Filled,snackbarService,Severity.Normal);
  }
  async Task OpenEditDialog(SubConGeneralInformationModel genInfo)
  {
    GlobalClass.subConGeneralInformation = genInfo;
    Console.WriteLine(genInfo.IsActive);
    var dialogResult = await dialogService.Show<Shared.Dialogs.SubConGeneralInformationDialogs.SubConGeneralInformationDialog>().Result;
    if(!dialogResult.Canceled)
    {
      var result = (SubConGeneralInformationModel)dialogResult.Data;
      GlobalClassList.subConGeneralInformations.RemoveAll(x=>x.Id == result.Id);
      GlobalClassList.subConGeneralInformations.Add(result);
    }
  }
  private bool FilterItems(SubConGeneralInformationModel items)
  {
    if (string.IsNullOrEmpty(searchTerm))
      return true;
    if (items.EmployeeName.Contains(searchTerm, StringComparison.InvariantCultureIgnoreCase))
      return true;
    if (items.CompanyName.Contains(searchTerm, StringComparison.InvariantCultureIgnoreCase))
      return true;
    return false;
  }

  private void OpenSideFilter()
  {
    openSideFilter = !openSideFilter;
    if(openSideFilter)
      visibility = "visibility-animation-show";
    if(!openSideFilter)
      visibility = "visibility-animation-hide";
  }
  private void SubConPositionHub()
  {
    if(GlobalVariable.AMSHubConnection != null)
      GlobalVariable.AMSHubConnection.On<SubConGeneralInformationModel>("SaveSubContractorGeneralInformation", (general) => {

        GlobalClassList.subConGeneralInformations.RemoveAll(x=>x.Id == general.Id);
        GlobalClassList.subConGeneralInformations.Add(general);
        GlobalClassList.subConGeneralInformations = GlobalClassList.subConGeneralInformations.Where(x=>x.IsActive == true).OrderBy(x=>x.Id).ToList();
        StateHasChanged();

      });
  }
}