@page "/check/trail"

@inject NavigationManager NavigationManager
@inject ICheckService CheckService
@inject IGlobalService GlobalService

<div class='page-cont'>
    <MudContainer Class='overflow-hidden pa-2' Fixed='false' MaxWidth='MaxWidth.Large'>
        @if (!dataFetched)
        {
            <MudPaper Class='ma-1 pa-1' style="height: calc(100vh - 125px);">
                <MudSkeleton SkeletonType='SkeletonType.Rectangle' Height='calc(100vh - 135px)' Animation='Animation.Wave' />
            </MudPaper>
        }
        else
        {
            <MudGrid Spacing='1'>
                <MudItem xs=9>
                    <MudPaper Class='overflow-hidden' Height='calc(100vh - 105px)'>
                        <div class='d-flex align-center pa-2 gap-2 bgc-F4F5FB'>
                            <MudIcon Icon="@Icons.Material.Filled.Timeline" Size='Size.Small' />
                            <MudText Class='wspace-nowrap font-bold txt-uppercase' Typo="Typo.body2">Audit Trail</MudText>
                            <hr class='horizline2'>
                        </div>
                        <MudDivider />
                        <div class='rounded-br rounded-bl overflow-auto pa-2 mx-2' style='height:calc(100vh - 150px)'>
                            <AuditTrailTimeLine auditMode=@Enums.AuditTrailMode.CheckTrail checkAuditTrails=@currentTrail />
                        </div>
                    </MudPaper>
                </MudItem>
                <MudItem Class='d-flex flex-column gap-2' xs=3>
                    <MudPaper Class='overflow-hidden'>
                        <div class='d-flex align-center pa-2 gap-2 bgc-F4F5FB'>
                            <MudIcon Icon="@Icons.Material.Filled.CommentBank" Size="Size.Small" />
                            <MudText Class='wspace-nowrap font-bold txt-uppercase' Typo="Typo.body2">Check Details</MudText>
                            <hr class='horizline2'>
                        </div>
                        <MudDivider />
                        <MudGrid Class='mt-2' Spacing='1'>
                            <MudItem Class='px-4' xs=6>
                                <MudText Class='txt-uppercase wspace-nowrap font10 font-bold'>Control Number:</MudText>
                                <MudText Class='txt-uppercase wspace-nowrap font-bold font14 pa-1' Color='Color.Error'>@GlobalClass.checkModel.ControlNumber</MudText>
                            </MudItem>
                            <MudItem Class='px-4 gap-2' xs=6>
                                <MudText Class='txt-uppercase wspace-nowrap font10 font-bold'>Issued Date:</MudText>
                                <MudChip Class='chip-radius-5 txt-uppercase font-bold font10' Icon='@Icons.Material.Filled.CalendarMonth' Color='Color.Default' Size='Size.Small'>
                                    @GlobalClass.checkModel.IssuedDate.GetValueOrDefault().ToShortDateString()
                                </MudChip>
                            </MudItem>
                            <MudItem xs=12>
                                <MudDivider />
                                <div class='px-2'>
                                    <MudText Class='txt-uppercase wspace-nowrap font10 font-bold'>Payee:</MudText>
                                    <div class='d-flex align-center pa-1 gap-2'>
                                        <MudIcon Icon='@Icons.Material.Filled.Person' Size='Size.Small' />
                                        <MudText Class='txt-uppercase font12'> @GlobalClass.checkModel.PayeeName</MudText>
                                    </div>
                                </div>
                            </MudItem>
                            <MudItem xs=12>
                                <MudDivider />
                                <div class='d-flex align-center px-2'>
                                    <MudText Class='txt-uppercase wspace-nowrap font10 font-bold'>Amount:</MudText>
                                    <MudSpacer />
                                    <MudChip Class='rounded' Color='Color.Default' Size='Size.Small'>
                                    @if (@GlobalClass.checkModel.Amount > 0 )
                                    {
                                       
                                        <MudText Class='font-bold color-green font12'>
                                            @(Extensions.GetEnumDescription(Enums.BankCurrency.PhilippinePeso) + " " + @GlobalClass.checkModel.Amount.ToString("N2"))
                                        </MudText>
                                       
                                    }
                                    else
                                    {
                                        <MudText Class='pl-2 txt-uppercase wspace-nowrap font-bold font12 gap-2' Color='Color.Error'> 
                                            @(Extensions.GetEnumDescription(Enums.BankCurrency.PhilippinePeso) + " " + @GlobalClass.checkModel.Amount.ToString("N2"))
                                        </MudText>
                                    }
                                    </MudChip>
                                </div>
                            </MudItem>
                            <MudItem xs=12>
                                <MudDivider />
                                <div class='px-2'>
                                    <MudText Class='ml-1 txt-uppercase wspace-nowrap font10 font-bold'>Bank:</MudText>
                                    <div class='d-flex align-center pa-1 gap-2'>
                                        <MudIcon Icon='@Icons.Material.Filled.WorkOutline' Size='Size.Small' />
                                        <MudText Class='txt-uppercase wspace-nowrap font12'>@GlobalClass.checkModel.BankName</MudText>
                                    </div>
                                </div>
                                <MudDivider />
                            </MudItem>
                            <MudItem xs=12>
                                <div class='px-2'>
                                    <MudText Class='ml-1 txt-uppercase wspace-nowrap font10 font-bold'>Status:</MudText>
                                    <MudText Class='wspace-nowrap font12'>
                                        @GlobalClassList.accountingStatusList.Where(x=>(int)x.StatusEnumCategoryId == GlobalClass.checkModel.AccountingStatusId).Select(y=>y.StatusName).FirstOrDefault()
                                    </MudText>
                                </div>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                    <div class='d-flex align-center justify-end pa-2'>
                        <MudButton Class='btn-ios-d pa-1 font12' OnClick="(() => BackToCheckList())" Size="Size.Small" Variant='Variant.Filled' Color='Color.Error' DisableElevation>
                            Return
                        </MudButton>
                    </div>
                </MudItem>
            </MudGrid>
       }
    </MudContainer>
</div>

@code{
    private bool dataFetched {get;set;}
    private byte[] payeeImg = new byte[]{}, requestorImg = new byte[]{}, approverImg = new byte[]{}, receiverImg = new byte[]{};
    private List<CheckAuditTrailModel> currentTrail = new();

    protected override async Task OnInitializedAsync()
    {
        if(GlobalClass.checkModel != null)
        {
            try{
                GlobalClass.pageTitle = "CHECK AUDIT TRAIL";
                currentTrail = await CheckService.GetAudiTrail(GlobalClass.checkModel.Id,GlobalClass.token);
                CompletedFetch();
            }catch(NullReferenceException ee){
                //Do nothing
                throw ee;
            }
        }
        else{
             NavigationManager.NavigateTo($"/check/list");
        }
    }
    private async Task<byte[]> GetEmployeeDetails(long employeeId)
    {
        var employeeDetail = await GlobalService.GetEmployeeById(employeeId, GlobalClass.token);
        return employeeDetail.Picture;
    }
  
    private void BackToCheckList()
    {
        NavigationManager.NavigateTo("/check/list");
    }
    private void CompletedFetch()
    {
        dataFetched = true;
        StateHasChanged();
    }
}


