@inject IDivisionService divisionService
@inject ISnackbar snackbar
@inject IDialogService dialogService

<MudDialog Class='customdialog2'>
    <TitleContent>
        <div class='d-flex align-center'>
            @if (GlobalClass.division.Id != 0)
            {
                <MudIcon Icon="@Icons.Filled.Edit" Class="mr-3" />
            }
            else
            {
                <MudIcon Icon="@Icons.Filled.Add" Class="mr-3" />
            }
            <MudText Class='txt-uppercase' Typo='Typo.h6'>@dialogTitle</MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudPaper Class='pa-2' Elevation='0'>
            <MudGrid Class='pa-2' Spacing='1'>
                <MudItem xs='12' sm='9'>
                    <MudTextField @bind-Value='@GlobalClass.division.divisionName' Label='Division Name' Error=@notValidDivisionName ErrorText="Required*"
                        HelperText="Required*" Margin='Margin.Dense' />
                </MudItem>
                <MudItem xs='12' sm='3'>
                    <MudTextField @bind-Value='@GlobalClass.division.shortcutName' Label='Short Name' Error=@notValidShortName ErrorText="Required*"
                        HelperText="Required*" Margin='Margin.Dense' />
                </MudItem>
            </MudGrid>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        @if(GlobalClass.division.Id != 0)
        {
            <MudCheckBox @bind-Checked='@GlobalClass.division.IsActive' Label='Active' 
                ReadOnly=@isReadOnly Size='Size.Small' Color='Color.Dark' Dense />
        }
        <MudSpacer />
        <MudButton Class='btn-ios-d font12' OnClick="Cancel" Variant='Variant.Text' Size='Size.Small' DisableElevation>Cancel</MudButton>
        <MudButton Class='btn-ios-d font12' OnClick="Submit" Variant='Variant.Filled' Color='@(!GlobalClass.division.IsActive ? Color.Error : @color)' Size='Size.Small' DisableElevation>
            @(!GlobalClass.division.IsActive ? "Deactivate" : @buttonText)
        </MudButton>
    </DialogActions>
</MudDialog>
@code{
    [CascadingParameter]public MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public Color color { get; set; }
    [Parameter] public string dialogTitle { get; set; } = string.Empty;
    [Parameter] public string buttonText { get; set; } = string.Empty;
    [Parameter] public Enums.ActionMode currentAction { get; set; }
    private bool isReadOnly = false;
    private bool notValidDivisionName,notValidShortName;
     protected override async Task OnInitializedAsync()
    {
        if (GlobalClass.division.Id == 0)
        {
            isReadOnly = true;
            GlobalClass.division.IsActive = true;
        }
        ResetValidation();
        await Task.Delay(1);
    }   
    void Cancel() 
    {
        GlobalClass.division.IsActive = !GlobalClass.division.IsActive ? true : true;
        MudDialog.Cancel();
    }

    private async Task Submit()
    {
        if(GlobalClass.division.IsActive == false)
        {
            currentAction = Enums.ActionMode.Deactivate;
            await Prompt();
        }
        else if (IsValidated())
        {
            await Prompt();
        }
         else 
            Extensions.ShowAlert("Cannot "+currentAction.ToString().ToLower()+" division"+GlobalVariable.errorPromptText,Variant.Filled,snackbar,Severity.Error);
    }
    private async Task Prompt()
    {
        var parameters = new DialogParameters();
        string contentText = " Division";
        string dialogTitle = currentAction.ToString();
        parameters.Add("contentText", contentText);
        parameters.Add("dialogTitle", dialogTitle);
        parameters.Add("actionMode", currentAction);
        var options = new DialogOptions() { CloseButton = false, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, NoHeader = false, DisableBackdropClick = true };
        var resultDialog = await dialogService.Show<Shared.Dialogs.GenericPromptDialogs.GenericPrompt>(dialogTitle, parameters, options).Result;
        if (!resultDialog.Cancelled) 
        {   
            try
            {
                if (currentAction == Enums.ActionMode.Create) {
                    GlobalClass.division = await divisionService.AddDivision(GlobalClass.division, GlobalClass.token);
                    GlobalClassList.divisionList.Add(GlobalClass.division);
                } 
                else 
                    await divisionService.UpdateDivision(GlobalClass.division, GlobalClass.token);
                if(GlobalVariable.AMSHubConnection != null)
                    await GlobalVariable.AMSHubConnection.InvokeAsync("SaveDivision",GlobalClass.division);
                 MudDialog.Close(DialogResult.Ok(currentAction));
            } catch (Exception ex) {
                Extensions.ShowAlert(ex.Message,Variant.Filled,snackbar,Severity.Info);
            }
        }
        else if (currentAction == Enums.ActionMode.Deactivate)
        {
            GlobalClass.division.IsActive = !GlobalClass.division.IsActive;
            MudDialog.Cancel();
        }
    }
    private bool IsValidated()
    {   
        ResetValidation();
        if(String.IsNullOrEmpty(GlobalClass.division.divisionName))
            notValidDivisionName = true;
        if(String.IsNullOrEmpty(GlobalClass.division.shortcutName))
            notValidShortName = true;
        if(notValidDivisionName || notValidShortName) {
            GlobalVariable.errorPromptText = " incomplete field/s."; return false; }
        if(GlobalClassList.divisionList.Any(x=>x.divisionName==GlobalClass.division.divisionName && x.Id != GlobalClass.division.Id)) {
            GlobalVariable.errorPromptText = " duplicate entry found for division name."; return false; }
        return true;
    }
    private void ResetValidation()
    {
        notValidDivisionName = false;
        notValidShortName = false;
    }
}