@page "/configurations/scope-of-work"

@inject IScopeOfWorkService scopeOfWorkService
@inject IDialogService dialogService
@inject ISnackbar SnackbarService
@inject ApplicationState AppState
@inject IAccessLevelService accessLevelService

<div class='page-cont'>
    <div class='drawer-right'>
        <MudDrawer Class='pa-1' @bind-Open='openSideFilter' Fixed='false' Anchor='Anchor.Right' Elevation='0' Variant='DrawerVariant.Mini' OpenMiniOnHover='false'>
            <div class='drawer-right__filtercont'>
                <div class="icon-area d-flex align-center">
                    <MudIconButton OnClick='OpenSideFilter' Icon="@Icons.Material.Filled.FilterList" aria-label="Filter" Size='Size.Medium' />
                </div>
                <div class="filter-title d-flex align-center">
                    <p class='title875'>Filter</p>
                    <MudSpacer />
                    <MudIconButton OnClick='OpenSideFilter' Icon="@Icons.Material.Filled.Close" aria-label="Close Filter" Size='Size.Medium' />
                </div>
                <div class='filter-content d-flex flex-column pl-4 pr-4 gap-1 @visibility'>
                    <MudTextField Class='txtfield-75' @bind-Value='searchTerm' Placeholder='Scope of Work'
                    Adornment='Adornment.Start' AdornmentIcon='@Icons.Material.Filled.Search' IconSize='Size.Small'
                    Clearable='true' Variant='Variant.Outlined' />
                    <MudButton Variant='Variant.Filled' Color='Color.Secondary'>Apply Filter</MudButton>
                </div>
            </div>
        </MudDrawer>
    </div>
    <MudContainer Class='divisionpage' Fixed='false' MaxWidth='MaxWidth.ExtraExtraLarge'>
        @if(!dataFetched)
        {
            <SkeletonPageList />
        }
        else
        {
            <MudTable Class='configtables ' Items="@GlobalClassList.scopeOfWork" Hover="true" 
                Breakpoint="Breakpoint.Xs" FixedHeader='true' FixedFooter='true' Bordered='true' Dense='true'
                RowsPerPage='30' Filter='new Func<ScopeOfWorkModel,bool>(FilterItems)'>
                <ToolBarContent>
                    <MudText Typo='Typo.caption'>
                        @GlobalClassList.scopeOfWork.Count() 
                        @(GlobalClassList.scopeOfWork.Count() == 1 ? "item" : "items") 
                        in Total
                    </MudText>
                    <MudSpacer/>
                    <MudTooltip Text="Refresh Table">
                        <MudIconButton Icon="@Icons.Material.Filled.Refresh" Size="Size.Small" OnClick='(()=>{searchTerm = "";})' ></MudIconButton>
                    </MudTooltip>
                    <MudMenu StartIcon='@Icons.Material.Filled.MoreVert' AnchorOrigin='Origin.TopLeft' 
                        TransformOrigin='Origin.TopRight' Dense='true' Size='Size.Small' Label='More'>
                        <MudMenuItem OnClick='(() => ScopeOfWorkDialog(new ScopeOfWorkModel(), Enums.ActionMode.Create))'>
                            <div class='d-flex align-center gap-2 '>
                                <MudIcon Icon='@Icons.Material.Filled.Add' Size='Size.Small' />
                                <MudText Typo='Typo.body2'>Add</MudText>
                            </div>
                        </MudMenuItem>
                    </MudMenu>
                </ToolBarContent>
                <ColGroup>
                    <col />
                    <col style='width:20px' />
                </ColGroup>
                <HeaderContent>
                    <MudTh Class='customheader-1'>
                        <MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<ScopeOfWorkModel, object>(x=>x.ScopeName)">
                            Scope of Work
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh Class='customheader-1 text-center pa-2'>Action</MudTh>
                </HeaderContent>
                <RowTemplate>
                        <MudTd DataLabel="Division Name">@context.ScopeName</MudTd>
                        <MudTd Class='text-center pa-2'>
                            <MudMenu Icon='@Icons.Material.Filled.MoreVert' AnchorOrigin='Origin.TopLeft' 
                            TransformOrigin='Origin.TopRight' Dense='true' Size='Size.Small'>
                                <MudMenuItem OnClick='(() => ScopeOfWorkDialog(context, Enums.ActionMode.Update))'>
                                    <div class='d-flex align-center gap-2 '>
                                        <MudIcon Icon='@Icons.Material.Filled.Edit' Size='Size.Small' />
                                        <MudText Typo='Typo.body2'>Edit</MudText>
                                    </div>
                                </MudMenuItem>
                            </MudMenu>
                        </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions='@pageSize' />
                </PagerContent>
            </MudTable>
        }
    </MudContainer>
</div>
@code{
    private bool dataFetched, openSideFilter;
    private int[] pageSize = new int[] {30, 50, 100, 500, 1000 };
    private string searchTerm = string.Empty, visibility = "visibility-animation-hide";
    protected override async Task OnInitializedAsync()
    {
        GlobalClass.pageTitle = "Configuration - SCOPE OF WORK";
        while (GlobalClass.currentUserAccount == null || GlobalClassList.scopeOfWork == null)
            await Task.Delay(1);
        await Common.Privileges.GetAllowedFunctions(accessLevelService, Enums.AISModules.Subcon);
        await AppState.UpdateMainLayoutComponent(true);
        CompletedFetch();
       // SignalR();
    }

    private void CompletedFetch()
    {
        dataFetched = true;
        StateHasChanged();
    }

    private async Task ScopeOfWorkDialog(ScopeOfWorkModel sow, Enums.ActionMode action)
    {
        Enums.AISModuleFunctions function = action == Enums.ActionMode.Update? Enums.AISModuleFunctions.Edit : Enums.AISModuleFunctions.Add;
        if (!Common.Privileges.isPrivilegeFunction(function))
        {
            string act = action == Enums.ActionMode.Update ? "edit" : "add";
            Extensions.ShowAlert(String.Format("Account has been restricted to {0} scope of work.", act), Variant.Filled, SnackbarService, Severity.Error);
            return;
        }
        var parameters = new DialogParameters();
        GlobalClass.scopeOfWork = sow;
        string dialogTitle = GlobalClass.scopeOfWork.Id != 0 ? "Edit Scope of Work" : "Add Scope of Work";
        string buttonText = GlobalClass.scopeOfWork.Id != 0 ? "Update" : "Add";
        Color color = GlobalClass.scopeOfWork.Id != 0 ? Color.Info : Color.Success;
        parameters.Add("color", color);
        parameters.Add("dialogTitle", dialogTitle);
        parameters.Add("buttonText", buttonText);
        parameters.Add("currentAction", action);
        var options = new DialogOptions() { CloseButton = false, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, NoHeader = false, DisableBackdropClick = false };
        var resultDialog = await dialogService.Show<Shared.Dialogs.ScopeOfWorkDialogs.ScopeOfWorkDialog>("", parameters, options).Result;
        if (!resultDialog.Canceled)
        {
            if ((Enums.ActionMode)resultDialog.Data == Enums.ActionMode.Create)
                Extensions.ShowAlert("Scope of Work successfully saved.", Variant.Filled, SnackbarService, Severity.Success);
            else if ((Enums.ActionMode)resultDialog.Data == Enums.ActionMode.Update)
                Extensions.ShowAlert("Scope of Work updated successfully.", Variant.Filled, SnackbarService, Severity.Info);
            else if ((Enums.ActionMode)resultDialog.Data == Enums.ActionMode.Deactivate)
                Extensions.ShowAlert("Scope ofWork has been deactivated.", Variant.Filled, SnackbarService, Severity.Info);
            else
                await LoadScopeOfWorkList();
        } else if (resultDialog.Canceled)
            Extensions.ShowAlertV2("Action cancelled.", Variant.Filled, SnackbarService, Severity.Normal, Icons.Material.Filled.Cancel, Defaults.Classes.Position.BottomCenter);
    }
    private bool FilterItems(ScopeOfWorkModel items)
    {
        if (string.IsNullOrEmpty(searchTerm))
            return true;
        if (items.ScopeName.Contains(searchTerm, StringComparison.InvariantCultureIgnoreCase))
            return true;
        return false;
    }
    private void OpenSideFilter()
    {
        openSideFilter = !openSideFilter;
        if(openSideFilter)
        visibility = "visibility-animation-show";
        if(!openSideFilter)
        visibility = "visibility-animation-hide";
    }
    
    private async Task LoadScopeOfWorkList() => GlobalClassList.scopeOfWork = await scopeOfWorkService.LoadScopeOfWork(GlobalClass.token);
}