@inject IAccountingStatusService accountingStatusService
@inject IDialogService dialogService
@inject NavigationManager NavigationManager
@inject ISnackbar snackbar

<MudDialog Class="customdialog2">
    <TitleContent>
        <div class='d-flex align-center'>
            @if (GlobalClass.acctgStatus.Id != 0)
            {
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" />
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3" />
            }
            <MudText Class='txt-uppercase' Typo='Typo.h6'>@dialogTitle</MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudPaper Class='pa-2' Elevation='0'>
            <MudGrid Class='pa-2' Spacing='1'>
                <MudItem xs='12'>
                    <MudTextField @bind-Value='@GlobalClass.acctgStatus.StatusName' HelperText="Required*" Label='Accounting Status' ErrorText="Required*" 
                        Error=@notValidStatus Margin='Margin.Dense' />
                </MudItem>
                <MudItem xs='10'>
                    <MudColorPicker Label='Color' ColorPickerView='ColorPickerView.Grid' ColorPickerMode='ColorPickerMode.HEX' Value="GlobalClass.acctgStatus.StatusColor" 
                        ValueChanged='UpdateSelectedColor' IconSize='Size.Small' HelperText='Required*' />
                </MudItem>
                <MudItem Class='d-flex align-center' xs='2'>
                    <div class='smallColorBox text-left' style='@($"background-color:{GlobalClass.acctgStatus.StatusColor};")' />
                </MudItem>
                @* <MudItem xs='10'>
                    <MudTextField @bind-Value="@GlobalClass.acctgStatus.StatusIcon" HelperText="Required*" class="mud-grid-item mud-grid-item-xs-9" Label="Icon" Variant="Variant.Text"
                        Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.InsertEmoticon" OnAdornmentClick="(() => ShowIcons())" Error=@notValidStatusIcon ErrorText="Required*" 
                        Margin='Margin.Dense' />
                </MudItem>
                <MudItem Class='d-flex align-center justify-center' xs='2'>
                    <MudIcon Icon="@GlobalClass.selectedIcon" Color="Color.Primary" Size='Size.Medium' />
                </MudItem> *@
                <MudItem xs='12'>
                    <MudSelect Label="Category" @bind-Value="GlobalClass.acctgStatus.StatusEnumCategoryId" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var items in SortedCategory())
                        {
                            <MudSelectItem Value="@items">@Extensions.GetEnumDescription(items)</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        @if(GlobalClass.acctgStatus.Id != 0)
        {
            <MudCheckBox @bind-Checked='@GlobalClass.acctgStatus.IsActive' Label='Active' ReadOnly=@isReadOnly 
                Size='Size.Small' Color='Color.Dark' Dense/>
        }
        <MudSpacer />
        <MudButton Class='btn-ios-d font12' OnClick="Cancel" Variant='Variant.Text' Size='Size.Small' DisableElevation>Cancel</MudButton>
        <MudButton Class='btn-ios-d font12' OnClick="Submit" Variant='Variant.Filled' Color='@(!GlobalClass.acctgStatus.IsActive ? Color.Error : @color)' Size='Size.Small' DisableElevation>
            @(!GlobalClass.acctgStatus.IsActive ? "Deactivate" : @buttonText)
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public Color color { get; set; }
    [Parameter] public string dialogTitle { get; set; } = string.Empty;
    [Parameter] public string buttonText { get; set; } = string.Empty;
    [Parameter] public Enums.ActionMode currentAction { get; set; }
    private bool isReadOnly = false;
    private bool notValidStatus,notValidStatusIcon = false;
    protected override async Task OnInitializedAsync()
    {
        if (currentAction == Enums.ActionMode.Create) {
            isReadOnly = true;
            GlobalClass.acctgStatus.IsActive = true;
            GlobalClass.acctgStatus.StatusColor = "#FFFF00";
            GlobalClass.selectedIcon = Icons.Material.Filled.NotInterested;
            GlobalClass.acctgStatus.StatusIcon = string.Empty;
            GlobalClass.acctgStatus.StatusEnumCategoryId = SortedCategory()[0];//Get the first item of sorted category
        } else {
            GlobalClass.selectedIcon = Extensions.Icon(GlobalClass.acctgStatus.StatusIcon);
        }
        ResetValidation();
        await Task.Delay(1);
    }
    void Cancel()
    {
        GlobalClass.acctgStatus.IsActive = !GlobalClass.acctgStatus.IsActive ? true : true;
        MudDialog.Cancel();
    }

    private async Task Submit()
    {
        if(!GlobalClass.acctgStatus.IsActive)
        {
            currentAction = Enums.ActionMode.Deactivate;
            await Prompt();
        }
        else if (IsValidated())
            await Prompt();
        else
            Extensions.ShowAlert("Cannot "+currentAction.ToString().ToLower()+" accounting status"+GlobalVariable.errorPromptText,Variant.Filled,snackbar,Severity.Error);
    }
    private void UpdateSelectedColor(MudColor colorValue)
    {
        GlobalClass.acctgStatus.StatusColor = colorValue.ToString();
    }
    private async Task ShowIcons()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions()
        {
            DisableBackdropClick = true
        };
        var resultDialog = await dialogService.Show<Shared.Dialogs.IconsDialogs.IconsDialog>("",options).Result;
        if(resultDialog.Canceled)
            if(resultDialog.Data.Equals(101))
                Console.WriteLine(GlobalClass.acctgStatus.StatusIcon);
    }
    private async Task Prompt()
    {
        var parameters = new DialogParameters();
        string contentText = " Accounting Status";
        string dialogTitle = currentAction.ToString();
        parameters.Add("actionMode", currentAction);
        parameters.Add("dialogTitle", dialogTitle);
        parameters.Add("contentText", contentText);
        var options = new DialogOptions() { CloseButton = false, MaxWidth = MaxWidth.ExtraSmall, FullWidth = false, NoHeader = false, DisableBackdropClick = true };
        var resultDialog = await dialogService.Show<Shared.Dialogs.GenericPromptDialogs.GenericPrompt>(dialogTitle, parameters, options).Result;
        if (!resultDialog.Canceled) 
        {   
            try
            {
                if (currentAction == Enums.ActionMode.Create) {
                    GlobalClass.acctgStatus = await accountingStatusService.AddAccountingStatus(GlobalClass.acctgStatus, GlobalClass.token);
                    GlobalClassList.accountingStatusList.Add(GlobalClass.acctgStatus);
                } else 
                    await accountingStatusService.UpdateAccountingStatus(GlobalClass.acctgStatus, GlobalClass.token);
                if(GlobalVariable.AMSHubConnection != null)
                    await GlobalVariable.AMSHubConnection.InvokeAsync("SaveAccountingStatus",GlobalClass.acctgStatus);
                MudDialog.Close(DialogResult.Ok(currentAction));
            } catch(System.Exception ex) {
                Extensions.ShowAlert(ex.Message, Variant.Filled, snackbar, Severity.Error);
            }
        }
        else if (currentAction == Enums.ActionMode.Deactivate)
        {
            GlobalClass.acctgStatus.IsActive = !GlobalClass.acctgStatus.IsActive;
            MudDialog.Cancel();
        }
    }
    private bool IsValidated()
    {
        ResetValidation();
        if(String.IsNullOrEmpty(GlobalClass.acctgStatus.StatusName))
            notValidStatus = true;
        if(String.IsNullOrEmpty(GlobalClass.acctgStatus.StatusIcon))
            notValidStatusIcon = true;  
        @* if(notValidStatus || notValidStatusIcon) {
            GlobalVariable.errorPromptText = " incomplete field/s."; return false; } //Not needed as we remove icons in new update *@
        if(GlobalClassList.accountingStatusList.Any(x=>x.StatusName == GlobalClass.acctgStatus.StatusName && x.Id != GlobalClass.acctgStatus.Id)) {
            GlobalVariable.errorPromptText = " duplicate entry found for Accounting Status."; return false; }
        if(GlobalClassList.accountingStatusList.Any(x=>x.StatusEnumCategoryId == GlobalClass.acctgStatus.StatusEnumCategoryId && x.Id != GlobalClass.acctgStatus.Id)) {
            GlobalVariable.errorPromptText = " duplicate entry found for category."; return false; }
        return true;
    }
    private void ResetValidation()
    {
        notValidStatus = false;
        notValidStatusIcon = false;
    }
    //Sorting Enums ASC
    private List<Enums.AccountingStatusEnumCategory> SortedCategory()
    {
        var sorted = Enum.GetValues(typeof(Enums.AccountingStatusEnumCategory)) as Enums.AccountingStatusEnumCategory[];
        return sorted?.OrderBy(x=>x.ToString()).ToList()?? new List<Enums.AccountingStatusEnumCategory>();
    }
}
