@page "/billing-document"

@inject IBillingDocumentService billingDocumentService
@inject IDialogService dialogService
@inject ISnackbar snackbarService
@inject ApplicationState AppState

<div class='page-cont'>
    <div class='drawer-right'>
        <MudDrawer Class='pa-1' @bind-Open='openSideFilter' Fixed='false' Anchor='Anchor.Right' Elevation='0' Variant='DrawerVariant.Mini' OpenMiniOnHover='false'>
            <div class='drawer-right__filtercont'>
                 <div class="icon-area d-flex align-center">
                    <MudIconButton OnClick='OpenSideFilter' Icon="@Icons.Filled.FilterList" aria-label="Filter" Size='Size.Medium' />
                </div>
                <div class="filter-title d-flex align-center">
                    <p class='title875'>Filter</p>
                    <MudSpacer />
                    <MudIconButton OnClick='OpenSideFilter' Icon="@Icons.Filled.Close" aria-label="Close Filter" Size='Size.Medium' />
                </div>
                <div class='filter-content d-flex flex-column pl-4 pr-4 gap-1 @visibility'>
                    <MudTextField Class='txtfield-75' @bind-Value='searchTerm' Placeholder='Document Name'
                    Adornment='Adornment.Start' AdornmentIcon='@Icons.Material.Filled.Search' IconSize='Size.Small'
                    Clearable='true' Variant='Variant.Outlined' />
                    <MudButton Variant='Variant.Filled' Color='Color.Secondary'>Apply Filter</MudButton>
                </div>
            </div>
        </MudDrawer>
    </div>
    <MudContainer Class='billingdocpage' Fixed='false' MaxWidth='MaxWidth.ExtraExtraLarge'>
        @if (!dataFetched)
        {
           <SkeletonPageList />
        }
        else
        {
            <MudTable Class='configtables row-popup-anim-2px' Items="@GlobalClassList.billingDocumentList" Hover="true"
                Breakpoint="Breakpoint.Xs" FixedHeader='true' FixedFooter='true' Bordered='true' Dense='true'
                RowsPerPage='30' Filter='new Func<BillingDocumentModel,bool>(FilterItems)'>
                <ToolBarContent>
                    <MudText Typo='Typo.caption'>
                        @GlobalClassList.billingDocumentList.Count() 
                        @(GlobalClassList.billingDocumentList.Count() == 1 ? "item" : "items") 
                        in Total
                    </MudText>
                    <MudSpacer />
                    <MudTooltip Text="Refresh Table">
                        <MudIconButton Icon="@Icons.Filled.Refresh" Size="Size.Small" OnClick='(()=>{searchTerm = "";})' ></MudIconButton>
                    </MudTooltip>
                    <MudMenu StartIcon='@Icons.Filled.MoreVert' AnchorOrigin='Origin.TopLeft' ActivationEvent="MouseEvent.MouseOver"
                        TransformOrigin='Origin.TopRight' Dense='true' Size='Size.Small' Label='More'>
                        <MudMenuItem OnClick='(() => BillingDocDialog(new BillingDocumentModel(), Enums.ActionMode.Create))'>
                            <div class='d-flex align-center gap-2 menu-grow-anim'>
                                <MudIcon Icon='@Icons.Filled.Add' Size='Size.Small' />
                                <MudText Typo='Typo.body2'>Add</MudText>
                            </div>
                        </MudMenuItem>
                    </MudMenu>
                </ToolBarContent>
                <ColGroup>
                    <col />
                    <col />
                    <col style='width: 20px' />
                </ColGroup>
                <HeaderContent>
                    <MudTh Class='customheader-1'>Document Name</MudTh>
                    <MudTh Class='customheader-1'>Remarks</MudTh>
                    <MudTh Class='customheader-1 text-center pa-2'>Action</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Document Name">@context.DocumentName</MudTd>
                    <MudTd DataLabel="Billing Remarks">@context.Remarks</MudTd>
                    <MudTd Class='text-center pa-2'>
                        <MudMenu Icon='@Icons.Filled.MoreVert' AnchorOrigin='Origin.TopLeft'
                        TransformOrigin='Origin.TopRight' Dense='true' Size='Size.Small' ActivationEvent='MouseEvent.MouseOver'>
                            <MudMenuItem OnClick='(()=> BillingDocDialog(context, Enums.ActionMode.Update))'>
                                <div class='d-flex align-center gap-2 menu-grow-anim'>
                                    <MudIcon Icon='@Icons.Filled.Edit' Size='Size.Small' />
                                    <MudText Typo='Typo.body2'>Edit</MudText>
                                </div>
                            </MudMenuItem>
                        </MudMenu>
                    </MudTd>
                </RowTemplate>
                <PagerContent>
            <MudTablePager PageSizeOptions='@pageSize'/>
                </PagerContent>
            </MudTable>
        }
    </MudContainer>
</div>
@code {
    private bool dataFetched, openSideFilter;
    private int[] pageSize = new int[] { 30, 50, 100, 500, 1000 };
    private string searchTerm = string.Empty, visibility = "visibility-animation-hide";
    protected override async Task OnInitializedAsync()
    {
        GlobalClass.pageTitle = "Configuration - BILLING DOCUMENT";
        while (GlobalClass.currentUserAccount == null || GlobalClassList.billingDocumentList == null)
            await Task.Delay(1);
        await AppState.UpdateMainLayoutComponent(true);
        BillingDocsHub();
        CompletedFetch();
    }

    private void CompletedFetch()
    {
        dataFetched = true;
        StateHasChanged();
    }

    private async Task BillingDocDialog(BillingDocumentModel selectedBillDoc, Enums.ActionMode action)
    {
        var parameters = new DialogParameters();
        GlobalClass.billingDoc = selectedBillDoc;
        string dialogTitle = GlobalClass.billingDoc.Id != 0 ? "Edit Billing Document" : "Add Billing Document";
        string buttonText = GlobalClass.billingDoc.Id != 0 ? "Update" : "Add";
        Color color = GlobalClass.billingDoc.Id != 0 ? Color.Info : Color.Success;
        parameters.Add("color", color);
        parameters.Add("dialogTitle", dialogTitle);
        parameters.Add("buttonText", buttonText);
        parameters.Add("currentAction", action);
        var options = new DialogOptions() { CloseButton = false, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, NoHeader = false, DisableBackdropClick = false };
        var resultDialog = await dialogService.Show<Shared.Dialogs.BillingDocumentDialogs.BillingDocumentDialog>("", parameters, options).Result;
        if (!resultDialog.Cancelled)
        {
            if ((Enums.ActionMode)resultDialog.Data == Enums.ActionMode.Create)
                Extensions.ShowAlert("Billing Document successfully addded.", Variant.Filled,snackbarService,Severity.Success);
            else if ((Enums.ActionMode)resultDialog.Data == Enums.ActionMode.Update)
                Extensions.ShowAlert("Billing Document successfully updated.", Variant.Filled,snackbarService,Severity.Info);
            else if ((Enums.ActionMode)resultDialog.Data == Enums.ActionMode.Deactivate)
                Extensions.ShowAlert("Billing Document has been deactivated.", Variant.Filled,snackbarService,Severity.Warning);
            GlobalClassList.billingDocumentList = GlobalClassList.billingDocumentList.Where(x => x.IsActive == true).ToList();
        } else if (resultDialog.Cancelled)
            Extensions.ShowAlert("Action Cancelled.", Variant.Filled,snackbarService,Severity.Normal);
    }

    private bool FilterItems(BillingDocumentModel items)
    {
        if (string.IsNullOrEmpty(searchTerm))
            return true;
        if (items.DocumentName.Contains(searchTerm, StringComparison.InvariantCultureIgnoreCase))
            return true;
        return false;
    }
    private void OpenSideFilter()
    {
        openSideFilter = !openSideFilter;
        if(openSideFilter)
        visibility = "visibility-animation-show";
        if(!openSideFilter)
        visibility = "visibility-animation-hide";
    }
    private void BillingDocsHub()
    {
      try
      {
        if(GlobalVariable.AMSHubConnection != null)
            GlobalVariable.AMSHubConnection.On<BillingDocumentModel>("SaveBillingDocument", (_docs)=>{

            GlobalClassList.billingDocumentList.RemoveAll(x=>x.Id == _docs.Id);
            GlobalClassList.billingDocumentList.Add(_docs);
            GlobalClassList.billingDocumentList = GlobalClassList.billingDocumentList.Where(x=>x.IsActive == true).OrderBy(x=>x.DocumentName).ToList();
            StateHasChanged();

            });
      }
      catch (System.Exception ex)
      {
         // TODO
         Console.WriteLine(ex.Message);
         throw;
      }
    }
}