@page "/requestforpayment-trails/{reqId:long}"
@inject IRequestForPaymentService requestForPaymentService

<div class="audittrail_container">
       
        <MudGrid>
            <MudItem xs="8">
                <MudPaper Elevation="3">
                    <MudCard Elevation="2">
                        <div style="display: flex; align-items: center;">
                            <MudIcon Size="Size.Medium" style="margin-right: 10px;" Icon="@Icons.Filled.Timeline"></MudIcon>
                             <MudText Typo="Typo.body1">Timeline</MudText>
                        </div>
                        <MudButton Size="Size.Small" StartIcon="@Icons.Filled.ArrowBackIos" title="Add" class="btn btn-primary" Href="/liquidationlist"><MudText Typo="Typo.caption">Back</MudText></MudButton>
                    </MudCard>
                 
                    <MudTimeline TimelinePosition="TimelinePosition.Start">
                        @foreach (var item in auditTrails) 
                        {
                        <MudTimelineItem Color="Color.Success">
                             <MudAlert Icon="@Icons.Filled.NoteAdd"  Severity="Severity.Success">
                                  <MudText Typo="Typo.caption"><b>@item.LogDateTime</b></MudText>
                                  <MudText Typo="Typo.subtitle2"><b>@item.Activity</b></MudText>
                                  <MudText Typo="Typo.caption">by: &nbsp; @item.UserName</MudText>
                             </MudAlert>
                        </MudTimelineItem>
                        }

                    </MudTimeline>
                </MudPaper>
            </MudItem>
            <MudItem xs="4">
                <MudPaper Elevation="3">
                  <MudCard Elevation="2">
                      <div class="flex-gap">
                          <MudIcon Size="Size.Medium" Icon="@Icons.Filled.Badge"></MudIcon>
                          <MudText Typo="Typo.body1">Payee Details</MudText>
                      </div>
                    </MudCard>

                    <div class="payee_details">
                        <div class="payee_details-fields">
                                <MudTextField Label="Date" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.CalendarToday" @bind-Value="@text" Variant="Variant.Text" ReadOnly="true" Margin="Margin.Dense"></MudTextField>
                                <MudTextField Label="Control No." @bind-Value="@text" Variant="Variant.Text" ReadOnly="true" Margin="Margin.Dense"></MudTextField>
                          </div>

                        <div style="margin-top: 15px">
                          <MudTextField Label="Payee Name" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.AttachMoney" @bind-Value="@text" Variant="Variant.Text" ReadOnly="true" Margin="Margin.Dense"></MudTextField>
                        </div>

                        <div style="margin-top: 15px">
                          <MudTextField Label="Total Amount" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.AttachMoney" @bind-Value="@text" Variant="Variant.Text" ReadOnly="true" Margin="Margin.Dense"></MudTextField>
                        </div>

                        <div style="margin-top: 15px">
                            <MudTextField Label="Particulars" Lines="5" @bind-Value="@text" Variant="Variant.Outlined" ReadOnly="true" Margin="Margin.Dense"></MudTextField>
                        </div>

                        <div style="margin-top: 15px">
                            <MudTextField Label="Remakrs" Lines="5" @bind-Value="@text" Variant="Variant.Outlined" ReadOnly="true" Margin="Margin.Dense"></MudTextField>
                        </div>

                        <div style="margin-top: 15px">
                            <div  class="flex-gap">
                                <MudAvatar Size="Size.Medium" Image="" />
                                <div class="">
                                        <MudText Typo="Typo.subtitle2">Demontaño, Dhaniele Joseph Cahilig</MudText>
                                      <MudText Typo="Typo.caption">Requested by</MudText>
                                </div>
                            </div>
                        </div>

                         <div style="margin-top: 15px">
                            <div  class="flex-gap">
                                <MudAvatar Size="Size.Medium" Image="" />
                                <div class="">
                                        <MudText Typo="Typo.subtitle2">Demontaño, Dhaniele Joseph Cahilig</MudText>
                                      <MudText Typo="Typo.caption">Approved by</MudText>
                                </div>
                            </div>
                        </div>

                    </div>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </div>

@code{
  [Parameter]
  public Int64 reqId {get; set;}
string text = "";
private List<RequestForPaymentAuditTrailModel> auditTrails = new List<RequestForPaymentAuditTrailModel>();

protected override async Task OnInitializedAsync()
{
  while(GlobalClass.currentUserAccount == null)
   await Task.Delay(1);
   
  Task t = Task.WhenAll(LoadAuditTrails());
  await t;
}
private async Task LoadAuditTrails()
{
  auditTrails = await requestForPaymentService.RFPAuditTrails(reqId, GlobalClass.token);
}

}