@page "/voucher/route/list"

@inject IVoucherService voucherService
@inject NavigationManager navigationManager
@inject IDialogService dialogService
@inject ISnackbar snackbarService
@inject ApplicationState AppState

<div class='page-cont'>
  <div class='drawer-right'>
    <MudDrawer Class='pa-1' @bind-Open='openSideFilter' Fixed='false' Anchor='Anchor.Right' Elevation='0' Variant='DrawerVariant.Mini' OpenMiniOnHover='false'>
      <div class='drawer-right__filtercont'>
        <div class='icon-area d-flex align-center'>
          <MudIconButton OnClick='OpenSideFilter' Icon='@Icons.Filled.FilterList' arial-label='Close Filter' Size='Size.Medium' />
        </div>
        <div class='filter-title d-flex align-center'>
          <p class='title875'>Filter</p>
          <MudSpacer />
          <MudIconButton OnClick='OpenSideFilter' Icon='@Icons.Filled.Close' aria-label='Close Filter' Size='Size.Medium' />
        </div>
        <div class='filter-content d-flex flex-column pl-4 pr-4 gap-1 @visibility'>
          <div class='d-flex align-center gap-2 @visibility'>
            <MudCheckBox Class='pt-1' @bind-Checked='filterParameter.IsControlNumber' Dense Size='Size.Small' />
            <MudTextField Class='txtfield-75' @bind-Value='filterParameter.ControlNumber' Placeholder='Control Number'
            Clearable='true' Variant='Variant.Outlined' Disabled='!filterParameter.IsControlNumber'/>
          </div>
          <div class='d-flex align-center gap-2 @visibility'>
            <MudCheckBox Class='pt-1' @bind-Checked='filterParameter.IsAccountingStatus' Dense Size='Size.Small' />
            <MudSelect Class='selectparent-75 fa-icon-center' MultiSelectionTextFunc='@(new Func<List<string>, string>(AccountingStatus))' @bind-SelectedValues='hasAccountingStatus' 
            @bind-Value="selectedStatus" Dense="true" MultiSelection=true Disabled='!filterParameter.IsAccountingStatus' PlaceHolder='Accounting Status'
            Variant='Variant.Outlined'>
            @if(GlobalClassList.accountingStatusList != null)
            {
              @foreach (var item in GlobalClassList.accountingStatusList.Where(x=> (int)x.StatusEnumCategoryId == 11 || (int)x.StatusEnumCategoryId == 12 || (int)x.StatusEnumCategoryId == 13))
              {
                <MudSelectItem Value="@item">@item.StatusName</MudSelectItem>
              }
            }
          </MudSelect>
          </div>
           <div class='d-flex align-center gap-2 @visibility'>
          <MudCheckBox Class='pt-1' @bind-Checked='filterParameter.IsPayee' Dense Size='Size.Small' />
          <MudTextField Class='txtfield-75' @onclick='PayeeSearchLookup' @bind-Value='filterParameter.PayeeName' Placeholder='Payee' 
          ReadOnly Disabled='!filterParameter.IsPayee' Variant='Variant.Outlined' />
          </div>
          <div class='d-flex align-center gap-2 @visibility'>
            <MudCheckBox Class='pt-1' @bind-Checked='filterParameter.IsDate' Dense Size='Size.Small'/>
            <MudDateRangePicker Class='txtfield-75' @bind-DateRange='dateRange' Disabled='!filterParameter.IsDate' Variant='Variant.Outlined' ></MudDateRangePicker>
          </div>
          <div class='d-flex align-center justify-end pt-1'>
            <div class='d-flex align-center justify-end'>
                <MudButton Class='wspace-nowrap' Variant='Variant.Filled' Color='Color.Secondary' OnClick='(()=> RealoadTable())' Disabled=!EnableClearButton()>Clear filter</MudButton> 
              </div>
            &nbsp;
            <MudButton Class='wspace-nowrap' OnClick='FilterItems' Variant='Variant.Filled' Color='Color.Secondary'>Apply Filter</MudButton>
          </div>
        </div>
      </div>
    </MudDrawer>
  </div>

  <MudContainer Class='voucherlist' Fixed='false' MaxWidth='MaxWidth.ExtraExtraLarge'>
    @if (!dataFetched)
    {
      <SkeletonPageList />
    }
    else
    {
      <MudTable Class='configtables row-popup-anim-2px' ServerData='new Func<TableState, Task<TableData<VoucherModel>>>(LoadVoucherServer)' Hover='true' Height='calc(100vh - 150px)'
          Breakpoint='Breakpoint.Sm' Bordered FixedHeader FixedFooter Dense MultiSelection="true" @bind-SelectedItems="GlobalClassList.selectedVoucherToRoute"
          RowsPerPage='30' @ref='tableVariable'>
          <ToolBarContent>
            <MudText Typo='Typo.caption'>
              @totalItems
              @(totalItems == 1 ? "Item" : "Items")
              in Total
            </MudText>
            <MudSpacer />
            <MudTooltip Text="Refresh Table">
              <MudIconButton Icon="@Icons.Filled.Refresh" Size="Size.Small" OnClick='(()=>RealoadTable())' ></MudIconButton>
            </MudTooltip>
              <MudMenu StartIcon='@Icons.Filled.MoreVert' AnchorOrigin='Origin.TopLeft' ActivationEvent='MouseEvent.MouseOver'
                TransformOrigin='Origin.TopRight' Dense='true' Size='Size.Small' Label='More'>
                  <MudMenuItem OnClick="(()=>RouteVouchers())">
                      <div class='d-flex align-center gap-2 menu-grow-anim'>
                          <MudIcon Icon='@Icons.Filled.Route' Size='Size.Small' />
                          <MudText Typo='Typo.body2'>Route Vouchers</MudText>
                      </div>
                  </MudMenuItem>
              </MudMenu>
          </ToolBarContent>
          <ColGroup>
            <col style='width: 20px' />
            <col style='width: 20px' />
            <col />
            <col />
            <col style='width: 20px' />
            <col style='width: 20px' />
            <col style='width: 10%' />
            <col style='width: 20px' />
            <col style='width: 20px' />
          </ColGroup>
          <HeaderContent>
            <MudTh Class='customheader-1'>
              <div class='d-flex align-center justify-start'>
                <MudTableSortLabel SortLabel='SortControlNumber' T='VoucherModel'
                InitialDirection='SortDirection.None'>
                  Control No.
                </MudTableSortLabel>
                <MudSpacer />
                <MudTableSortLabel SortLabel='SortDate' T='VoucherModel'
                InitialDirection='SortDirection.Descending'>
                  Date
                </MudTableSortLabel>
              </div>
            </MudTh>
            <MudTh Class='customheader-1'>Payee</MudTh>
            <MudTh Class='customheader-1'>Description</MudTh>
            <MudTh Class='customheader-1 text-center pa-2'></MudTh>
            <MudTh Class='customheader-1 text-center'>Status</MudTh>
            <MudTh Class='customheader-1 text-right'>Checks</MudTh>
            <MudTh Class='customheader-1 text-right'>Amount</MudTh>
            <MudTh Class='customheader-1 text-center pa-2'>Action</MudTh>
          </HeaderContent>
          <RowTemplate>
            <MudTd DataLabel='control no.'>
              <div class='d-flex align-center'>
                  <MudChip Class='chip-radius-5 txt-uppercase font-bold font10' Color='Color.Error' Size='Size.Small'>
                    @context.ControlNumber
                  </MudChip>
                  <MudChip Class='chip-radius-5 font-bold font10' Variant='Variant.Text' Icon='@Icons.Filled.CalendarMonth' Color='Color.Dark' Size='Size.Small'>
                    @Convert.ToDateTime(context.VoucherDate).ToShortDateString()
                  </MudChip>
              </div>
            </MudTd>
            <MudTd Class='wspace-nowrap font12' DataLabel='Payee'>@context.PayeeName</MudTd>
            <MudTd Class='wbreak-breakword font12' DataLabel='Description'>@context.Description</MudTd>
            <MudTd Class='wspace-nowrap text-center pa-2' DataLabel='Signatories'>
              <MudTooltip Text='Signatories' Placement='Placement.Top'>
                <MudMenu Icon="@Icons.Filled.Groups" AnchorOrigin='Origin.BottomRight' ActivationEvent='MouseEvent.MouseOver'
                  TransformOrigin='Origin.TopLeft' Dense Size='Size.Small'>
                  <MudMenuItem>
                    <MudPaper class='pa-2 bgc-e7f2fb min-width200px'>
                      <MudText Class='font10 font-bold'>Prepared By:</MudText>
                      <SignatoriesComponent employeeId='@context.PreparedById' />
                    </MudPaper>
                  </MudMenuItem>
                  <MudMenuItem>
                    <MudPaper class='pa-2 bgc-e7f2fb min-width200px'>
                      <MudText Class='font10 font-bold'>Verified By:</MudText>
                      <SignatoriesComponent employeeId='@context.VerifiedById' />
                    </MudPaper>
                  </MudMenuItem>
                  <MudMenuItem>
                    <MudPaper class='pa-2 bgc-e7f2fb min-width200px'>
                      <MudText Class='font10 font-bold'>Approved By:</MudText>
                      <SignatoriesComponent employeeId='@context.ApprovedById' />
                    </MudPaper>
                  </MudMenuItem>
                </MudMenu>
              </MudTooltip>
            </MudTd>
            <MudTd Class='text-left' DataLabel='Status'>
              @if (dataFetched) 
              {
                <MudChip Class='chip-radius-5 font-bold font10' Variant='Variant.Filled' Size='Size.Small'
                  Style="@Extensions.GetAcctgStatusColor(context.AccountingStatusId)">
                  @context.StatusName
                </MudChip>
              }
            </MudTd>
            <MudTd Class='text-center' DataLabel='Checks'>
              @if (!string.IsNullOrWhiteSpace(context.CheckNumber)) {
                <MudToggleIconButton @bind-Toggled='context.isShowChild'
                  Icon="@Icons.Filled.ExpandMore" Color="@Color.Default" Title="Expand" Size='Size.Small' ToggledSize='Size.Small'
                  ToggledIcon="@Icons.Filled.ExpandLess" ToggledColor="@Color.Info" ToggledTitle="Collapse"/>
                } else {
                  <MudText Class='font12'> - </MudText>
                }
            </MudTd>
            <MudTd Class='wspace-nowrap text-right' DataLabel='Amount'>
              <div class='d-flex align-center gap-2'>
                @if (context.TotalAmount > 0)
                {
                  <MudText Class='font-bold color-green font12'>
                    @Extensions.GetEnumDescription(Enums.BankCurrency.PhilippinePeso) 
                  </MudText>
                  <MudSpacer />
                  <MudText Class='font-bold color-green font12'>
                    @context.TotalAmount.ToString("N2")
                  </MudText>
                }
                else
                {
                  <MudText Class='font-bold font12' Color='Color.Error'>
                    @Extensions.GetEnumDescription(Enums.BankCurrency.PhilippinePeso) 
                  </MudText>
                  <MudSpacer />
                  <MudText Class='font-bold font12' Color='Color.Error'>
                    @context.TotalAmount.ToString("N2")
                  </MudText>
                }
              </div>
            </MudTd>
            <MudTd Class='text-center pa-2' DataLabel='Action'>
              <MudMenu Icon='@Icons.Filled.MoreVert' AnchorOrigin='Origin.TopLeft' ActivationEvent='MouseEvent.MouseOver'
              TransformOrigin='Origin.TopRight' Dense='true' Size='Size.Small'>
                  <MudMenuItem OnClick='(() => NavigateToRoute(context))'>
                    <a class='d-flex align-center gap-2 menu-grow-anim'>
                      <MudIcon Icon='fa-solid fa-route' Size='Size.Small' />
                      <MudText Typo='Typo.body2'>Route</MudText>
                    </a>
                  </MudMenuItem>
              </MudMenu>
            </MudTd>
          </RowTemplate>
          <NoRecordsContent>
            <MudText Class='txt-uppercase font-bold font12' Color='Color.Error'>No records found</MudText>
          </NoRecordsContent>
          <ChildRowContent>
            <MudTr>
              <td colspan="9">
                <div class='transition-05s-ease overflow-hidden border-thick-left' style='@(context.isShowChild ? "max-height:100vh" : "max-height:0px")'>
                  @if (!string.IsNullOrWhiteSpace(context.CheckNumber))
                  {
                    <CheckListComponent stringChecks=@context.CheckNumber />
                  }
                </div>
              </td>
            </MudTr>
            @* @if(context.isShowChild)
            {
              <MudTr>
                <td colspan="9">
                    <CheckListComponent stringChecks=@context.CheckNumber />
                </td>
              </MudTr>
            } *@
          </ChildRowContent>
          <PagerContent>
            <MudTablePager PageSizeOptions="@pageSize" />
          </PagerContent>
      </MudTable>
    }
  </MudContainer>
</div>

@code
{
    private bool dataFetched, openSideFilter;
    private int[] pageSize = new int[] {30, 50, 100, 500, 1000 };
    private string searchTerm = string.Empty, visibility = "visibility-animation-hide";
    private int totalItems;
    private IEnumerable<VoucherModel>? pageData;
    private MudTable<VoucherModel>? tableVariable;
    private FilterParameter filterParameter = new();
    private AccountingStatusModel selectedStatus = new AccountingStatusModel();
    private IEnumerable<AccountingStatusModel> hasAccountingStatus = new HashSet<AccountingStatusModel>();
    private DateRange dateRange = new DateRange(DateTime.Now, DateTime.Now);
    private HashSet<VoucherModel> selectedVouchers = new HashSet<VoucherModel>();
    protected override async Task OnInitializedAsync()
    {
        GlobalClass.pageTitle = "Check Voucher List";
        if(GlobalClassList.selectedVoucherToRoute == null)
          GlobalClassList.selectedVoucherToRoute = new();
        if(GlobalClass.currentUserAccount == null || GlobalClassList.accountingStatusList == null 
        || GlobalClassList.accountingStatusList.Count() == 0 || GlobalClassList.Vouchers == null)
          await Task.Delay(1);
        CompletedFetch();
    }

    void CompletedFetch()
    {
      dataFetched = true;
      StateHasChanged();
    }

    private async Task<TableData<VoucherModel>> LoadVoucherServer(TableState tableState)
    {
        IEnumerable<VoucherModel> data = await voucherService.LoadVouchers(filterParameter, GlobalClass.token);
        
        switch (tableState.SortLabel)
        {
        case "SortControlNumber":
            data = data.OrderByDirection(tableState.SortDirection, x=>x.Id);
            break;
        case "SortDate":
            data = data.OrderByDirection(tableState.SortDirection, x=>x.VoucherDate);
            break;
        }
        
        GlobalClassList.Vouchers = data.ToList();
        //Multiselection table server side rendering
        GlobalClassList.selectedVoucherToRoute.ToList().ForEach(voucher => {
          GlobalClassList.Vouchers.RemoveAll(v=>v.ControlNumber==voucher.ControlNumber);
          GlobalClassList.Vouchers.Add(voucher);
        });

        pageData = GlobalClassList.Vouchers.Skip(tableState.Page * tableState.PageSize).Take(tableState.PageSize).ToArray();
        
        await Task.Delay(3);
        totalItems = GlobalClassList.Vouchers.Count();
        return new TableData<VoucherModel>()
        {
          TotalItems = totalItems,
          Items = pageData
        };
   
    }
    private void OpenSideFilter()
    {
        openSideFilter = !openSideFilter;
        if(openSideFilter)
        visibility = "visibility-animation-show";
        if(!openSideFilter)
        visibility = "visibility-animation-hide";
    }
    private bool FilterItems(DivisionModel items)
    {
        if (string.IsNullOrEmpty(searchTerm))
            return true;
        if (items.divisionName.Contains(searchTerm, StringComparison.InvariantCultureIgnoreCase))
            return true;
        return false;
    }
    private void NavigateToRoute(VoucherModel voucher)
    {
      GlobalClass.voucher = voucher;
      navigationManager.NavigateTo($"voucher/route");
    }
  private async Task PayeeSearchLookup()
  {
    var parameters = new DialogParameters();
    string dialogTitle = "Payee Look Up";
    parameters.Add("dialogTitle", dialogTitle);
    parameters.Add("buttonText", "Select");
    parameters.Add("color", Color.Success);
    parameters.Add("lookUpType", Enums.LookUpType.Project);
    var options = new DialogOptions()
    {
        CloseButton = false,
        MaxWidth = MaxWidth.Small,
        FullWidth = true,
        NoHeader = false,
        DisableBackdropClick = false
    };
    var resultDialog = await dialogService.Show<Shared.Dialogs.LookUpDialog.GlobalGenericLookup>(dialogTitle, parameters, options).Result;
    if (!resultDialog.Cancelled)
    {
        var payee = (Project)resultDialog.Data;
        filterParameter.PayeeId = payee.ProjectId;
        filterParameter.PayeeCategoryId = payee.ProjectCategoryId;
        filterParameter.PayeeName = payee.ProjectName;
        StateHasChanged();
    }
  }
  private string AccountingStatus(List<string> selectedStatus)
  {
      var status = "";
      foreach (var item in hasAccountingStatus)
      {
        status = string.Join(", ", hasAccountingStatus.Select(x => x.StatusName));      
      }
      return $"{status}";
  }
  private void FilterItems()
  {
    filterParameter.DateFrom = dateRange.Start.GetValueOrDefault();
    filterParameter.DateTo = dateRange.End.GetValueOrDefault();
    filterParameter.AccountingStatusId = string.Join(",", hasAccountingStatus.Select(x=>x.Id));
    tableVariable?.ReloadServerData();
  }
  private void OpenRouters()
  {
    if(GlobalClassList.selectedVoucherToRoute.Count != 0)
    {
    navigationManager.NavigateTo($"/test");
    GlobalClass.voucherRoute.VoucherList = GlobalClassList.selectedVoucherToRoute.ToList();//Add all selected Voucher in Route
    //Console.WriteLine(Newtonsoft.Json.JsonConvert.SerializeObject(GlobalClassList.selectedVoucherToRoute,Newtonsoft.Json.Formatting.Indented));
    }
    else
      Extensions.ShowAlert("Please select a voucher/s to be routed",Variant.Filled,snackbarService,Severity.Error);
  }
  private async Task RealoadTable()
  {
      filterParameter = new();
      if(tableVariable != null)
        await tableVariable.ReloadServerData();
  }
  private bool EnableClearButton()
  {
    if(filterParameter.IsControlNumber) 
      return true;
    if(filterParameter.IsAccountingStatus)
      return true;
    if(filterParameter.IsDate)
      return true;
    if(filterParameter.IsPayee)
      return true;
    return false;
  }
  private async Task RouteVouchers()
  {
    if(GlobalClassList.selectedVoucherToRoute.Count != 0)
    {
      await RoutesDialog();
    }
    else
      Extensions.ShowAlert("Please select a voucher/s to be routed",Variant.Filled,snackbarService,Severity.Error);
  }
  private async Task RoutesDialog()
  {
    GlobalClass.voucherRoute.VoucherList = GlobalClassList.selectedVoucherToRoute.ToList();
    var options = new DialogOptions()
      {
          CloseButton = false,
          MaxWidth = MaxWidth.ExtraSmall,
          FullWidth = true,
          NoHeader = false,
          DisableBackdropClick = false
      };
      var resultDialog = await dialogService.Show<Shared.Dialogs.VouchersRouteDialogs.VouchersRouteDialog>("", options).Result;
      if (!resultDialog.Cancelled)
      {
        //Extensions.ShowAlert("Voucher/s has been routed.",Variant.Filled,snackbarService,Severity.Info);
      }
  }
  public async Task UpdateState()
  {
    await AppState.UpdateCheckListCompState(!AppState._checkListCompState);
    Console.WriteLine("Current State: " + AppState._checkListCompState.ToString());
  }
}