@inject NavigationManager navigationManager

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        @* <PageTitle>Not found</PageTitle> *@
        <LayoutView Layout="@typeof(MainLayout)">
            @* <p role="alert">Sorry, there's nothing at this address.</p> *@
            <MudContainer Class='d-flex errorpage' Fixed='true' MaxWidth='MaxWidth.Small'>
                 <img class='errorpage__img' src="images/pagenotfound404.png" asp-append-version="true" />
                 <MudButton class='errorpage__btn' OnClick='BackToDashboard' Variant='Variant.Filled'>Back to Dashboard</MudButton>
            </MudContainer>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private void BackToDashboard()
    { 
        navigationManager.NavigateTo($"/dashboard");
    }
}